<div class="content-heading">
   <div class="pull-right text-center">
      <div data-sparkline="" data-bar-color="#cfdbe2" data-height="20" data-bar-width="3" data-bar-spacing="5" data-values="1,2,3,4,5,6,7,8,9,10"></div>
   </div>
   <%= current_digital_asset.name %> Github Data
 </div>
 <div class="row">
    <div class="col-lg-4 col-md-6">
       <!-- START widget-->
       <div class="panel widget bg-success">
          <div class="row row-table">
             <div class="col-xs-4 text-center bg-success-dark pv-lg">
                <em class="icon-share fa-3x"></em>
             </div>
             <div class="col-xs-8 pv-lg">
                <div class="h1 m0 text-bold"><%= @github_profile.public_repos%></div>
                <div class="text-uppercase">Public Repos</div>
             </div>
          </div>
       </div>
    </div>
</div>
